<!-- Navigation -->
<nav
  class="navbar navbar-container navbar-expand-lg navbar-dark fixed-top"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">NODEW</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="blogDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="blogDropdown">
            <a class="dropdown-item" href="/blog">View Blog</a>
            <a class="dropdown-item" href="/posts/new">Add New Post</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        {{#unless authLinks}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
        {{/unless}}

        {{#if authLinks}}
          <li class="nav-item d-flex flex-row align-items-center">
            <a class="nav-link" href="#">{{user.username}}</a>
            <img
              src="{{user.avatar}}"
              alt="user"
              width="40"
              height="40"
              class="img-fluid rounded-circle ml-1 mr-3 my-1"
            />
          </li>
        {{/if}}

        {{#if user.isAdmin}}
          <li class="nav-item adminModeOn">
            <a class="nav-link" href="/admin">Admin Mode</a>
          </li>
        {{/if}}

        {{#if authLinks}}
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Log Out</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>